
  h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
    color: white;
  }
  .jumbotron {
    background: url("./images/cool-background\ .png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}